@charset "UTF-8";
:root {
  --font-family: "Victor Mono", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
@font-face {
  font-family: "FuturaPT";
  src: url("../fonts//FuturaPT-Book.woff2") format("woff2");
  font-weight: 400;
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: "FuturaPT";
  src: url("../fonts//FuturaPT-BookObl.ttf");
  font-weight: 400;
  font-display: block;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:not([class]) {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: clip;
}

@media screen and (pointer: fine) {
  html {
    width: 100vw;
    margin-left: calc((100% - 100vw) / 2);
  }
}
body,
html {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  position: relative;
  max-width: 112rem;
  margin: 0 auto;
}

.site-container {
  overflow-x: clip;
  width: 100%;
  max-width: 100%;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  font-family: "Victor Mono", sans-serif;
}
.btn-reset:focus-visible {
  outline: none;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}
.input-reset:focus-visible {
  outline: none;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
  overflow-x: hidden;
  overflow-y: scroll;
}

html {
  --refRes: 1440;
  font-size: calc(100vw / var(--refRes) * 10);
}
@media (max-width: 1024px) {
  html {
    --refRes: 768;
  }
}
@media (max-width: 530px) {
  html {
    --refRes: 390 !important;
  }
}

.header__fixed {
  top: 5.6rem;
  position: fixed;
  z-index: 1000;
  margin: 0 auto;
  right: 10.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  gap: 1.7rem;
}
.header__fixed_btn {
  display: inline-block;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  background-color: #b84c74;
  padding: 1.15rem 2.4rem;
  border: none;
  outline: none;
}
.header__fixed_basket {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header__fixed_basket img {
  margin-right: 3px;
  width: 2rem;
}
.header__horizontal {
  position: absolute;
  z-index: 2000;
  height: 100vh;
  background-color: #f2f6f7;
}
.header__horizontal_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  width: 7.2rem;
  padding: 2.4rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__horizontal_line {
  position: fixed;
  z-index: 2000;
  width: 7.2rem;
  height: 100vh;
  background-color: #ffffff;
}
.header__column_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 4.6rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__column_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__column_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.8rem;
}
.header__logo_img {
  width: 3rem;
}
.header__menu-btn_img {
  width: 2.4rem;
}
.header__menu_img {
  width: 2.5rem;
}

.hero {
  height: 100vh;
}
.hero__row_header {
  top: 16.8rem;
  position: absolute;
  z-index: 1000;
  left: 0;
}
.hero__row_slider {
  position: absolute;
  width: 100%;
}
.hero__slider_btns {
  position: absolute;
  bottom: 5.3rem;
}
.hero__slider_slide {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__btns_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0.6rem;
  position: relative;
}
.hero__header_title {
  font-family: "Cormorant Infant", serif;
  font-weight: 300;
  font-style: light;
  font-size: 7.8rem;
  color: #052E4C;
}
.hero__header_title span {
  font-weight: 600;
  font-style: italic;
}
.hero__header_description {
  max-width: 47.7rem;
  margin-top: 2.4rem;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: #052E4C;
  font-style: normal;
  font-size: 1.6rem;
}
.hero__header_btn {
  margin-top: 4.8rem;
  display: inline-block;
  background-color: #fff;
  color: #052E4C;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  padding: 1.15rem 2.4rem;
}

.swiper {
  position: absolute;
  width: 100%;
  right: 0;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  width: 3rem;
  height: 3rem;
  margin-top: 0;
  color: #052E4C;
  background-color: transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 3.2rem;
  font-weight: normal;
  color: #052E4C;
}

.swiper-pagination {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  position: relative;
  font-size: 1.6rem;
  color: #052E4C;
  bottom: 0;
  text-align: center;
}

.popular {
  position: relative;
  background-color: #417a82;
  padding-top: 19.2rem;
}
.popular__title {
  position: absolute;
  z-index: 1001;
  opacity: 0.05;
  font-family: "Cormorant Infant", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 28rem;
  line-height: 5.6rem;
  letter-spacing: -3%;
  left: 0rem;
  top: -7rem;
}

.grid-main {
  display: -ms-grid;
  display: grid;
  position: relative;
  z-index: 2000;
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

/* Верхняя большая картинка + под ней две маленькие картинки в ряд */
.left-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.img-caption {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.caption-text {
  font-family: "Cormorant Infant", serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #052E4C;
}
.caption-text.white {
  color: white;
}
.caption-text span {
  font-style: italic;
  font-weight: 700;
}

/* Большая картинка (верхняя) */
.img-large {
  position: relative;
  width: 100%;
}
.img-large::after {
  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.img-large:hover {
  cursor: pointer;
}
.img-large:hover::after {
  position: absolute;
  z-index: 4000;
  width: 100%;
  height: 1.2rem;
  background-color: #417a82;
  bottom: 0px;
}
.img-large img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Ряд с двумя маленькими картинками */
.two-small {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

/* Стили для маленьких карточек */
.small-card {
  position: relative;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.small-card::after {
  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.small-card:hover {
  cursor: pointer;
}
.small-card:hover::after {
  position: absolute;
  z-index: 4000;
  width: 100%;
  height: 1.2rem;
  background-color: #417a82;
  bottom: 0px;
}
.small-card img {
  display: block;
  width: 100%;
  height: 24rem;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

/* ПРАВАЯ СЕКЦИЯ — самая большая картинка */
.right-tall {
  width: 50.4rem;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.right-tall::after {
  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.right-tall:hover {
  cursor: pointer;
}
.right-tall:hover::after {
  position: absolute;
  z-index: 4000;
  width: 100%;
  height: 1.2rem;
  background-color: #417a82;
  bottom: 0px;
}
.right-tall img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.blue-block {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 16rem;
  height: 100%;
  background-color: #052e4c;
}
/*# sourceMappingURL=main.css.map */