<section class="brief">
  <div class="container">
    <div class="brief__content">
      <h3 class="brief__content_title">Ваш помощник в выборе солнцезащиты</h3>
      <form action="#" class="brief__form" method="post">
        <h2 class="brief__form_title">
            Для какого помещения выбираете Lorem?
        </h2>
        <div class="brief__form_stage">
            <div class="brief__stage_item active">1</div>
            <div class="brief-line"></div>
            <div class="brief__stage_item">2</div>
            <div class="brief-line"></div>
            <div class="brief__stage_item">3</div>
        </div>
      <div class="brief__form_list">
          <div class="brief__form_checkbox-row">
          <div class="brief__form_checkobx-column">
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Веранда, терраса, уличное пространство</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Офис</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Учебное или мед. учреждение</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Помещение с проектором</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Стеклянные переговорные</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Помещение с панорамными окнами</span>
            </label>
          </div>
          <div class="brief__form_checkobx-column">
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Помещение с мансардными окнами</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Кухня, столовая</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Детская</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Спальня</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Балкон</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Зимний сад</span>
            </label>
          </div>
        </div>
        <a href="#" class="brief__form_next-btn">
            Далее
        </a>
      </div>
      <div class="brief__form_list">
          <div class="brief__form_checkbox-row">
          <div class="brief__form_checkobx-column">
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
          </div>
          <div class="brief__form_checkobx-column">
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
          </div>
        </div>
       <a href="#" class="brief__form_next-btn">
            Далее
        </a>
      </div>
      <div class="brief__form_list">
          <div class="brief__form_checkbox-row">
          <div class="brief__form_checkobx-column">
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
          </div>
          <div class="brief__form_checkobx-column">
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
            <label class="checkbox-container">
              <input type="checkbox" />
              <span class="custom-checkbox">
                
                <svg
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 6L9 17L4 12"
                    stroke="#417A82"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
              <span class="label-text">Принять условия</span>
            </label>
          </div>
        </div>
        <div class="brief__form_submit-btn">
            Отправить
        </div>
      </div>
      </form>
    </div>
  </div>
</section>
