<section class="hero">
        <div class="hero__row">
           <div class="container">
             <div class="hero__row_header">
                <h1 class="hero__header_title">
                    КУПИТЕ <br>
                    <span>ЧТО-ТО</span><br>
                    И ЕЩЕ <span>ШТОРЫ</span>
                </h1>
                <p class="hero__header_description">
                    «Lorem» — производитель изделий для внутренней и внешней lorem
                </p>
                <a href="#" class="hero__header_btn">
                    КАЛЬКУЛЯТОР
                </a>
            </div>
           </div>
            <div class="hero__row_slider">
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide" >
                            <div class="hero__slider_slide" style="background-image: url('img/Rectangle 12.png');"></div>
                        </div>
                        <div class="swiper-slide" >
                            <div class="hero__slider_slide" style="background-image: url('img/Rectangle 12.png');"></div>
                        </div>  
                        <div class="swiper-slide" >
                            <div class="hero__slider_slide" style="background-image: url('img/Rectangle 12.png');"></div>
                        </div>
                 
                    </div>
                    <!-- If we need pagination -->
                  

                    <!-- If we need navigation buttons -->
                     <div class="container">
                        <div class="hero__slider_btns">
                            <div class="hero__btns_row">
                                <div class="swiper-button-prev"></div>
                                  <div class="swiper-pagination"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                     </div>
                 
    

                    <!-- If we need scrollbar
                    <div class="swiper-scrollbar"></div>
                    </div>  -->
            </div>
    </div>
</section>