<section class="popular">
  <div class="container">
    <h2 class="popular__title">Популярное</h2>

    <div class="grid-main">
      <div class="left-stack">
        <div class="img-large">
          <img src="../img/image 17.png" />
          <div class="img-caption">
            <span class="caption-text"><span>Москитные</span> сетки</span>
          </div>
        </div>

        <div class="two-small">
          <div class="small-card">
            <img src="../img/image 16.png" />
            <div class="img-caption">
              <span class="caption-text"><span>LOREM</span></span>
            </div>
          </div>
          <div class="small-card">
            <img src="../img/5aa8778b2cb12b1cdc860f4ea834f32d23341409.png" />
            <div class="img-caption">
              <span class="caption-text white">LOREM</span>
            </div>
          </div>
        </div>
      </div>

      <div class="right-tall">
        <img src="../img/image 25.png" />
        <div class="img-caption">
              <span class="caption-text ">LOREM</span> 
            </div>
      </div>
    </div>
  </div>
  <div class="blue-block"></div>
</section>
