<section class="product">
  <div class="container">
    <div class="product__header">
      <h2 class="product__header_title">Лучшие предложения</h2>
        <div class="product__slider_btns">
          <div class="product__btns_row">
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
    </div>
    <div class="product__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide product__swiper_slide">

        <div class="product__swiper_item ">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="../img/image 35.svg" alt="" /><img src="../img/image 36.svg" alt="" /><img src="../img/image 37.svg" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
        <img src="../img/picture.jpg" alt="" />
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        <div class="product__swiper_item ">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
      <img src="../img/picture.jpg" alt="" />
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        <div class="product__swiper_item">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
          <img src="../img/picture.jpg" alt="" />
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        <div class="product__swiper_item ">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
          <img src="../img/picture.jpg" alt="" />
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        </div>

       <div class="swiper-slide product__swiper_slide">

        <div class="product__swiper_item ">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
          <img src="../img/picture.jpg" alt="" />
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        <div class="product__swiper_item ">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
         <img src="../img/picture.jpg" alt="" />
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        <div class="product__swiper_item">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
         <img src="../img/picture.jpg" alt="" />
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        <div class="product__swiper_item ">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
          <img src="../img/picture.jpg" alt="" />
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        </div>
           <div class="swiper-slide product__swiper_slide">

        <div class="product__swiper_item ">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
          <img src="../img/picture.jpg" alt="" />
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        <div class="product__swiper_item ">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
          <img src="../img/picture.jpg" alt="" />
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        <div class="product__swiper_item">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
         <img src="../img/picture.jpg" alt="" />
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        <div class="product__swiper_item ">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
          <img src="../img/picture.jpg" alt="" />
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</section>
