<section class="product">
  <div class="container">
    <div class="product__header">
      <h2 class="product__header_title">Лучшие предложения</h2>
        <div class="product__slider_btns">
          <div class="product__btns_row">
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
    </div>
    <div class="product__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide product__swiper_slide">

        <div class="product__swiper_item ">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="../img/image 35.svg" alt="" /><img src="../img/image 36.svg" alt="" /><img src="../img/image 37.svg" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
          <img src="../img/picture.jpg" class="product__img_tabs-img" alt="" data-img-big="1"/>
          <img src="../img/picture (1).png" class="product__img_tabs-img" alt="" data-img-big="2"/>
          <img src="../img/picture (2).png" class="product__img_tabs-img" alt="" data-img-big="3"/>       
          <img src="../img/picture.jpg" class="product__img_tabs-img" alt="" data-img-big="4"/>
          <img src="../img/picture (1).png" class="product__img_tabs-img" alt="" data-img-big="5"/>
          <img src="../img/picture (2).png" class="product__img_tabs-img" alt="" data-img-big="6"/>     
          <img src="../img/picture (1).png" class="product__img_tabs-img" alt="" data-img-big="7"/>
          <img src="../img/picture (2).png" class="product__img_tabs-img" alt="" data-img-big="8"/>
          <div class="product__img_tabs">
            <div class="product__img_tabs-item" data-img-tab="1"><img src="../img/dca7b7aa059b24bf4e5f2e9c0c97adccfea7fcc3.png" alt=""></div>
            <div class="product__img_tabs-item" data-img-tab="2"><img src="../img/2ac43f6bea798ad4cc2210940ceed87e279a4507.png" alt=""></div>
            <div class="product__img_tabs-item" data-img-tab="3"><img src="../img/c9503c128fec1906f6f3175da3e2ecd8dee985f6.png" alt=""></div>            
            <div class="product__img_tabs-item" data-img-tab="4"><img src="../img/dca7b7aa059b24bf4e5f2e9c0c97adccfea7fcc3.png" alt=""></div>
            <div class="product__img_tabs-item" data-img-tab="5"><img src="../img/2ac43f6bea798ad4cc2210940ceed87e279a4507.png" alt=""></div>
            <div class="product__img_tabs-item" data-img-tab="6"><img src="../img/c9503c128fec1906f6f3175da3e2ecd8dee985f6.png" alt=""></div>
               <div class="showbtns" ><img src="../img/Rectangle 20.svg" alt=""></div>

            <div class="product__img_tabs-item" data-img-tab="7"><img src="../img/c9503c128fec1906f6f3175da3e2ecd8dee985f6.png" alt=""></div>
            <div class="product__img_tabs-item" data-img-tab="8"><img src="../img/c9503c128fec1906f6f3175da3e2ecd8dee985f6.png" alt=""></div>
          </div>
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        <div class="product__swiper_item ">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
           <img src="../img/picture.jpg" class="product__img_tabs-img" alt="" data-img-big="1"/>
          <img src="../img/picture (1).png" class="product__img_tabs-img" alt="" data-img-big="2"/>
          <img src="../img/picture (2).png" class="product__img_tabs-img" alt="" data-img-big="3"/>       
          <img src="../img/picture.jpg" class="product__img_tabs-img" alt="" data-img-big="4"/>
          <img src="../img/picture (1).png" class="product__img_tabs-img" alt="" data-img-big="5"/>
          <img src="../img/picture (2).png" class="product__img_tabs-img" alt="" data-img-big="6"/>     
          <img src="../img/picture (1).png" class="product__img_tabs-img" alt="" data-img-big="7"/>
          <img src="../img/picture (2).png" class="product__img_tabs-img" alt="" data-img-big="8"/>
          <div class="product__img_tabs">
            <div class="product__img_tabs-item" data-img-tab="1"><img src="../img/dca7b7aa059b24bf4e5f2e9c0c97adccfea7fcc3.png" alt=""></div>
            <div class="product__img_tabs-item" data-img-tab="2"><img src="../img/2ac43f6bea798ad4cc2210940ceed87e279a4507.png" alt=""></div>
            <div class="product__img_tabs-item" data-img-tab="3"><img src="../img/c9503c128fec1906f6f3175da3e2ecd8dee985f6.png" alt=""></div>            
            <div class="product__img_tabs-item" data-img-tab="4"><img src="../img/dca7b7aa059b24bf4e5f2e9c0c97adccfea7fcc3.png" alt=""></div>
            <div class="product__img_tabs-item" data-img-tab="5"><img src="../img/2ac43f6bea798ad4cc2210940ceed87e279a4507.png" alt=""></div>
            <div class="product__img_tabs-item" data-img-tab="6"><img src="../img/c9503c128fec1906f6f3175da3e2ecd8dee985f6.png" alt=""></div>
            <div class="showbtns" ><img src="../img/Rectangle 20.svg" alt=""></div>

            <div class="product__img_tabs-item" data-img-tab="7"><img src="../img/c9503c128fec1906f6f3175da3e2ecd8dee985f6.png" alt=""></div>
            <div class="product__img_tabs-item" data-img-tab="8"><img src="../img/c9503c128fec1906f6f3175da3e2ecd8dee985f6.png" alt=""></div>
          </div>
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        <div class="product__swiper_item">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
          <img src="../img/picture.jpg" alt="" />
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        <div class="product__swiper_item ">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
          <img src="../img/picture.jpg" alt="" />
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        </div>

       <div class="swiper-slide product__swiper_slide">

        <div class="product__swiper_item ">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
          <img src="../img/picture.jpg" alt="" />
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        <div class="product__swiper_item ">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
         <img src="../img/picture.jpg" alt="" />
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        <div class="product__swiper_item">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
         <img src="../img/picture.jpg" alt="" />
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        <div class="product__swiper_item ">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
          <img src="../img/picture.jpg" alt="" />
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        </div>
           <div class="swiper-slide product__swiper_slide">

        <div class="product__swiper_item ">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
          <img src="../img/picture.jpg" alt="" />
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        <div class="product__swiper_item ">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
          <img src="../img/picture.jpg" alt="" />
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        <div class="product__swiper_item">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
         <img src="../img/picture.jpg" alt="" />
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        <div class="product__swiper_item ">
        <div class="product__item_img">
          <div class="product__img_icons">
            <div class="product__icons_left">
              <img src="" alt="" /><img src="" alt="" /><img src="" alt="" />
            </div>
            <div class="product__icons_sale">-10%</div>
          </div>
          <img src="../img/picture.jpg" alt="" />
        </div>
        <div class="product__item_content">
          <a href="#" class="product__item_text">
            Вертикальные жалюзи «Lorem»
          </a>
          <div class="product__item_prices">
            <div class="product__prices_price"><span>от</span> 1200₽</div>
            <div class="product__prices_price-sale">1000₽</div>
          </div>
          <div class="product__item_btns">
            <a href="#" class="product__btns_sale"> Оформить заявку </a>
            <a href="#" class="product__btns_basket">
              <img src="../img/cart.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>
</section>
